:root {
  --color-fondo--: #0f0;
  --border-general: #0f0;
}
html {
}

p {
  color: aqua;
}
#importante {
  color: rgb(32, 4, 87);
}
.no_importante {
  color: black;
}

div p {
  color: rgb(0, 20, 58);
}
div {
  background-color: var(--color-fondo--);
  border-radius: var(--border-general);
  font-size: 2em;
  height: clamp(100px, 50vh, 200px);
  width: max(50vh, 200px);
}
div h5 {
  color: blueviolet;
  font-size: 1cm;
}
h4 {
  font-size: 2rem;
}

div:hover {
  /*Una pseudo clase modifica comportamientos*/
  background-color: red;
  width: 80vh;
  height: 80vh;
  transition: 5s;
}

div::before {
  /*Pseudoelemento modifica elementos*/
  content: "*";
}
/*Media QUERY*/
@media (max-width: 500px) {
  body {
    background-color: black;
  }
}

@media(max-width:300px){
    body{
        background-color: rgb(39, 6, 201);
    }